
@{
    ViewBag.Title = "Error 404";
}
<div class="jumbotron elegantshd">
    <div class="container">
        <h3 class="xbootstrap">Well... It happens sometimes</h3>
        <h1>The Lady Armedair</h1>
        <h3 class="xbootstrap" style="padding-top: 40px;">Don't worry. It's just a missing site.</h3>
    </div>
</div>
<div class="container body-content text-center">
    <input type="button" value="Back to the Main Site!" class="btn btn-magick btn-lg btn-pressure" onclick="location.href='@Url.Action("Index", "Home")'" />
</div>
