/*body {
    background-color: #22313F;
}*/

/*#header.container.body-content.no-margin {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: none;
} /* >.< */

/*.body-content {
    background-color: white;
}*/

    /* =Header Settings= */
.main-color-bg {
    background-color: #34495E !important;
    color: #ffffff !important;
}

.dash-box {
    text-align: center;
}

#header {
    margin-left:0;
    margin-right:0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #22313F;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#header h1 {
    margin-top: 10px;
}

#header .create {
    padding-top: 17px;
}

    /* == */
.breadcrumb{
    background: #cccccc;
    color: #333333;
}

.breadcrumb a {
    color: #333333;
}

    /* =Main Section=*/
.list-group-item.active, .list-group-item.active:focus {
    background-color: #34495E;
}

.list-group-item.active:hover {
    background-color: #2C3E50;
}

.progress-bar {
    /*background-color: #34495E;*/
}

.well .glyphicon {
    font-size: 40px;
}