@{
    ViewBag.Title = "About";
}
<div class="jumbotron elegantshd">
    <div class="container">
        <h3 class="xbootstrap">Would you like to ask...</h3>
        <h1>The Lady Armedair</h1>
        <h3 class="xbootstrap" style="padding-top: 40px;">...about something?</h3>
    </div>
</div>
<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>