@model IEnumerable<TheArmedairProject.Models.PostModels>

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron elegantshd">
    <div class="container">
        <h3 class="xbootstrap">Welcome stranger! Let me introduce you to</h3>
        <h1>The Lady Armedair</h1>
        <h3 class="xbootstrap" style="padding-top: 40px;">The great Artificial Intelligence for which this site has been created.</h3>
    </div>
</div>
<div class="container body-content">
    
        @foreach (var item in Model)
        {
            <div class="post-content">
                <h1 style="margin-top: 0;">@Html.DisplayFor(modelItem => item.Title)</h1>
                <h6>Author: @Html.DisplayFor(modelItem => item.Author)</h6><br />
                @Html.Raw(item.Content)
            </div>
        }   
</div>