@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron elegantshd">
    <div class="container">
        <h3 class="xbootstrap">Welcome stranger! Let me introduce you to</h3>
        <h1>The Lady Armedair</h1>
        <h3 class="xbootstrap" style="padding-top: 40px;">The great Artificial Intelligence for which this site has been created.</h3>
    </div>
</div>
<div class="container body-content">
    <div class="post-content">
        <h1 style="margin-top: 0;">Title</h1>
        <h6>Author: GGMPL</h6><br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget tellus condimentum, sodales ante vel, ultrices justo. Integer vel consequat nibh, sed ullamcorper odio. Proin pulvinar hendrerit facilisis. Praesent eget tincidunt est, eu fringilla nisi. Fusce at nisi et tellus cursus aliquam. Sed euismod velit aliquam consequat accumsan. Nunc suscipit orci id ligula ullamcorper maximus.
        </p>
        <p>
            Morbi sed sagittis velit. In ultrices mollis turpis, quis interdum est pulvinar eu. Donec posuere orci ut enim efficitur gravida. Maecenas purus neque, maximus sit amet est non, posuere scelerisque mauris. Aliquam vitae varius ex. Phasellus semper sagittis tempus. Donec ac dui tristique, luctus eros quis, dapibus enim. Phasellus eu quam nunc. Sed tincidunt euismod volutpat. Mauris nec auctor purus, et faucibus urna.
        </p>
        <p>
            Vestibulum placerat nisl quis dignissim faucibus. Maecenas at placerat leo. Mauris et lacus leo. In facilisis eros nec massa posuere ultricies. Aliquam consectetur pellentesque tortor a viverra. Integer vulputate est efficitur, semper tellus non, convallis arcu. Phasellus id convallis orci. Praesent ligula tortor, malesuada ac eros in, tempor sagittis nisl. Suspendisse potenti. In facilisis, risus a viverra tempus, dui massa maximus nisl, sit amet efficitur sem ex vitae quam. Cras mattis rutrum enim, id condimentum tortor tempor ac. Ut at nunc a lectus efficitur semper. Mauris sodales est eu augue feugiat, condimentum iaculis tortor feugiat. Cras vel congue felis, sed iaculis velit. Donec nec tristique nunc, eu condimentum risus.
        </p>
        <p>
            Praesent ut orci ac eros rutrum lobortis vel sed urna. Nunc ut ante at lorem tincidunt commodo. Nulla dictum erat at pellentesque ultrices. Fusce eleifend est diam. Ut dignissim magna quis consectetur lacinia. Cras at auctor massa. Sed nec feugiat orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis ullamcorper nisl vel pulvinar. Duis dignissim augue id venenatis efficitur. Ut ac interdum quam, sit amet vulputate metus.
        </p>
        <p>
            Vivamus non dapibus lacus, eu accumsan massa. Mauris venenatis mi at massa vulputate molestie. Vivamus facilisis tortor urna, ut faucibus magna ullamcorper vitae. Curabitur non vulputate ante. Quisque quis suscipit massa. Nullam pharetra pharetra luctus. Mauris blandit, massa eget congue volutpat, orci nunc maximus massa, et malesuada justo dui quis tellus. Cras convallis lorem nec hendrerit tincidunt. Nulla blandit imperdiet odio maximus dictum. Ut at sollicitudin nisi. Aenean accumsan posuere lectus, sed posuere ligula tincidunt eget.
        </p>
    </div>
    <div class="post-content">
        <h1 style="margin-top: 0;">Title</h1>
        <h6>Author: GGMPL</h6><br />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget tellus condimentum, sodales ante vel, ultrices justo. Integer vel consequat nibh, sed ullamcorper odio. Proin pulvinar hendrerit facilisis. Praesent eget tincidunt est, eu fringilla nisi. Fusce at nisi et tellus cursus aliquam. Sed euismod velit aliquam consequat accumsan. Nunc suscipit orci id ligula ullamcorper maximus.
        </p>
        <p>
            Morbi sed sagittis velit. In ultrices mollis turpis, quis interdum est pulvinar eu. Donec posuere orci ut enim efficitur gravida. Maecenas purus neque, maximus sit amet est non, posuere scelerisque mauris. Aliquam vitae varius ex. Phasellus semper sagittis tempus. Donec ac dui tristique, luctus eros quis, dapibus enim. Phasellus eu quam nunc. Sed tincidunt euismod volutpat. Mauris nec auctor purus, et faucibus urna.
        </p>
        <p>
            Vestibulum placerat nisl quis dignissim faucibus. Maecenas at placerat leo. Mauris et lacus leo. In facilisis eros nec massa posuere ultricies. Aliquam consectetur pellentesque tortor a viverra. Integer vulputate est efficitur, semper tellus non, convallis arcu. Phasellus id convallis orci. Praesent ligula tortor, malesuada ac eros in, tempor sagittis nisl. Suspendisse potenti. In facilisis, risus a viverra tempus, dui massa maximus nisl, sit amet efficitur sem ex vitae quam. Cras mattis rutrum enim, id condimentum tortor tempor ac. Ut at nunc a lectus efficitur semper. Mauris sodales est eu augue feugiat, condimentum iaculis tortor feugiat. Cras vel congue felis, sed iaculis velit. Donec nec tristique nunc, eu condimentum risus.
        </p>
        <p>
            Praesent ut orci ac eros rutrum lobortis vel sed urna. Nunc ut ante at lorem tincidunt commodo. Nulla dictum erat at pellentesque ultrices. Fusce eleifend est diam. Ut dignissim magna quis consectetur lacinia. Cras at auctor massa. Sed nec feugiat orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis ullamcorper nisl vel pulvinar. Duis dignissim augue id venenatis efficitur. Ut ac interdum quam, sit amet vulputate metus.
        </p>
        <p>
            Vivamus non dapibus lacus, eu accumsan massa. Mauris venenatis mi at massa vulputate molestie. Vivamus facilisis tortor urna, ut faucibus magna ullamcorper vitae. Curabitur non vulputate ante. Quisque quis suscipit massa. Nullam pharetra pharetra luctus. Mauris blandit, massa eget congue volutpat, orci nunc maximus massa, et malesuada justo dui quis tellus. Cras convallis lorem nec hendrerit tincidunt. Nulla blandit imperdiet odio maximus dictum. Ut at sollicitudin nisi. Aenean accumsan posuere lectus, sed posuere ligula tincidunt eget.
        </p>
    </div>
</div>